MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
nbclassic1/i18n/*/LC_MESSAGES/*.mo
nbclassic1/i18n/*/LC_MESSAGES/nbjs.json
nbclassic1/static/components
nbclassic1/static/style/*.min.css*
nbclassic1/static/*/js/built/
nbclassic1/static/*/built/
nbclassic1/static/built/
nbclassic1/static/*/js/main.min.js*
nbclassic1/static/lab/*bundle.js
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache
src

*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
/.project
/.pydevproject

package-lock.json
geckodriver.log
*.iml

# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode

# copied changelog
docs/source/changelog.md

.jupyter_releaser_checkout
